/*
COLOR PALETTE:
bg - #CBC5FE
words - #10009C
dark - #10009C
accent/light - #7675ff
*/

/* from Google Fonts */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'), local('VT323-Regular'), url(lo_L7yCDHYN9FAxvMCI1vQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
	background-color: #CBC5FE;
	color: #10009C;
	font-family: 'VT323', monospace;
}

#screen {
	max-width: 700px;
	margin: 1em auto;
	font-size: 1.5em;
}

#gruel_logo {
	margin-bottom: 1em;
}

#words {
	margin-bottom: 2em;
}

#cmd_line {
	font-family: 'VT323', monospace;
	font-size: 1em;
	background-color: #10009C;
	border-color: #7675ff;
	border-width: 20px 10px;
	border-style: solid;
	width: 100%;
	padding: .5em;
	color: #7675ff;
	box-sizing: border-box;
}

#loading {
	display: none;
	width: 30px;
	margin: 1em 0 2em 47%;
	overflow: hidden;
}